<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scalpel area</title>
</head>
<body>
  <div>
    <h1>Scalpel area</h1>
    <p>Welcome to the scalpel area, a 31 days code challenge where I tried to duplicate cools features I have seen on the internet, enjoy :)</p>
  </div>
<div>
  <h1>
    Random Hover - from Aristide Benoist
  </h1>
  <div>
    <span>R</span>
    <span>A</span>
    <span>N</span>
    <span>D</span>
    <span>O</span>
    <span>M</span>
    <span>_</span>
    <span>H</span>
    <span>O</span>
    <span>V</span>
    <span>E</span>
    <span>R</span>
  </div>
</div>
</body>
</html>
